<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<meta charset="UTF-8">
<title layout:fragment="fra_title">Category Detail</title>
</head>
<body>

	<div layout:fragment="content">
		
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-3">
					
					<div class="card bg-light mb-3">
						<div class="card-header bg-success text-white text-uppercase">
							<th:block th:if="${option == 1}" >Các mặt hàng mới</th:block>
							<th:block th:if="${option == 2}" >Được quan tâm</th:block>
							<th:block th:if="${option == 3}" >Bán chạy</th:block>
							<th:block th:if="${option == 4}" >Giảm giá</th:block>
		
						</div>
						
					</div>
					
				</div>
				
				<div class="col">
					<div class="row">
					
					<th:block th:each="product : ${specialProductList}">
						<div class="col-12 col-md-6 col-lg-4">
								<div class="card">
									<img class="card-img-top"
										src="https://dummyimage.com/600x400/55595c/fff"
										alt="Card image cap" />
									<div class="card-body">
										<h4 class="card-title">
											<a th:href="'/product/' + ${product.id}" th:text="${product.name}" title="View Product"></a>
										</h4>
										<p class="card-text">Some quick example text to build on
											the card title and make up the bulk of the card's content.</p>
										<div class="row">
											<div class="col">
												<p class="btn btn-danger btn-block">99.00 $</p>
											</div>
											<div class="col">
												<a href="#" class="btn btn-success btn-block">Add
													to cart</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>	
					
						<div class="col-12">
							<nav aria-label="...">
								<ul class="pagination">
									<li class="page-item disabled"><a class="page-link"
										href="#" tabindex="-1">Previous</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active"><a class="page-link" href="#">2
											<span class="sr-only">(current)</span>
									</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>